.Burger {
  width: 100vw;
  margin: 0 auto;
  height: 41.666vh;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.NoIngredients {
  font-weight: 200;
  animation: blink 1.5s linear infinite;
  user-select: none;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 20rem;
    height: 24.999rem;
  }
}

@media (min-width: 700px) and (min-height: 401px) {
  .Burger {
    width: 30rem;
    height: 41.666rem;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 40rem;
    height: 41.666rem;
  }
}

@keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.15
  }
  100% {
    opacity: 1;
  }
}