.Burger {
  width: 91.666%;
  margin: 0 auto;
  padding: 0;
  height: 25rem;
  overflow: auto !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.NoIngredients {
  font-weight: 200;
  animation: blink 1.5s linear infinite;
  user-select: none;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 24.999rem;
    height: 24.999rem;
  }
}

@media (min-width: 700px) and (min-height: 401px) {
  .Burger {
    width: 35rem;
    height: 35rem;
  }
}

@keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.15
  }
  100% {
    opacity: 1;
  }
}