.Toolbar {
  background-color: #c6ff00;
  border-bottom: 4px solid #eeff41;
  padding: 0 1rem;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar > nav {
  height: 100%;
  background-color: transparent !important;
  box-shadow: none !important;
  width: auto;
}

.Menu {
  cursor: pointer;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

@media (min-width: 500px) {
  .Menu {
    display: none;
  }
}