.Toolbar {
  font-size: 5.8vw;
  background-color: #c6ff00;
  border-bottom: 3px solid #eeff41;
  padding: 1rem;
  height: 5.1rem;
}

.MainContent {
  margin-top: 16px;
  font-size: 4vw;
}

.Copyright {
  background-color: #004d40;
  font-weight: 200;
  text-align: center;
  height: 2.75rem;
  color: #f5f5f5;
  padding: .75rem;
  margin: 0 auto;
}

.Copyright > a {
  color: #00c853;
  font-weight: 500
}

@media (min-width: 500px) {
  .Toolbar {
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
    user-select: none;
  }

  .MainContent {
    font-size: 1.66rem;
    font-weight: 400;
  }
}