.Button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #5C9210;
}

.Success:hover {
  color: rgba(92, 146, 16, .66)
}

.Danger {
  color: #944317;
}

.Danger:hover {
  color: rgba(148, 67, 23, .63)
}