.Button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: .25rem auto;
  min-height: 3.4rem;
  min-width: 6rem;
  margin: 1rem;
  font-weight: 300;
  box-shadow: none;
  transition: all .25s ease-out;
}

.Button:first-of-type {
  margin-left: 0;
}

.Button > span {
  margin: 0 .5rem;
}

.Button i {
  margin: -3px auto 0;
  flex-direction: row;
  font-size: 2rem;
}

.Success {
  color: #afb42b !important;
}

.Success:disabled {
  background-color: #dce775 !important;
  border: 1px solid #e6ee9c3a !important;
  color: #4db6ac !important;
  cursor: not-allowed;
}

.Success:hover {
  color: #f5f5f5 !important;
  background-color: #afb42b !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.Danger {
  color: #bf360c !important;
}

.Danger:hover {
  background-color: #bf360c !important;
  color: #f5f5f5 !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.Danger:disabled {
  background-color: #ff9e80 !important;
  border: 1px solid #ffab913a !important;
  color: #4db6ac !important;
  cursor: not-allowed;
}