.ContactDataSummary {
  margin: 10rem auto;
  width: 83.333%;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #c6ff00;
  border-top: 1rem solid #eeff41;
  border-bottom: 1rem solid #eeff41;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .33s 200ms;
}

.ContactDataSummary h4 {
  margin-bottom: 4rem;
}

.ContactDataSummary input {
  margin: 2rem auto !important;
}

.ContactDataSummary input::placeholder {
  color: #424242b6;
}

.ContactDataSummary input:focus {
  border-bottom: 1px solid #424242;
  box-shadow: 0 1px 1px 0 #424242;
}

.ContactDataSummary input:focus + label {
  color: #424242 !important;
}

.ContactDataSummary label {
  color: #212121;
  margin-bottom: 1rem !important;
}


@media (min-width: 600px) {
  .ContactDataSummary {
    width: 500px;
  }
}